# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
bower_components/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# IDE e Sistema Operacional
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
.vscode/*
*.iml

# Git metadata
*.orig

# Cache
.cache/
*.cache
coverage/
